<!doctype html>
<html>
<head>
 
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="theme-color" content="">
  <link rel="canonical" href="{{ canonical_url }}">
  <link rel="preconnect" href="https://cdn.shopify.com" crossorigin>


   {%- if settings.favicon != blank -%}
    <link rel="icon" type="image/png" href="{{ settings.favicon | img_url: '32x32' }}" >
  {%- endif -%}

  <title>
    {{ page_title }}
    {%- if current_tags %} &ndash; tagged "{{ current_tags | join: ', ' }}"{% endif -%}
    {%- if current_page != 1 %} &ndash; Page {{ current_page }}{% endif -%}
    {%- unless page_title contains shop.name %} &ndash; {{ shop.name }}{% endunless -%}
  </title>

 

  {{ content_for_header }} <!-- Header hook for plugins -->
  {{ 'application.css' | asset_url | stylesheet_tag }}
  <script src="{{ 'application.js' | asset_url }}" defer></script>
  <script src="{{ 'search-modal.js' | asset_url }}" defer></script>
  <script src="{{ 'predictive-search.js' | asset_url }}" defer></script>
  <script src="{{ 'header-drawer.js' | asset_url }}" defer></script>

  {% style %}
    :root{
      --page-width: {{ settings.page_width | divided_by: 16 }}rem;
    }
  {% endstyle %}

</head>
<body class="font-Josefin body-scroll">

  {% section 'announcement-bar' %}
  {% section 'header' %}

  <main role="main">
    {{ content_for_layout }}
  </main>

{% comment %} 
  Global Access to the routes object
{% endcomment %}
  <script>
    window.routes = {
      cart_add_url: '{{ routes.cart_add_url }}',
      cart_change_url: '{{ routes.cart_change_url }}',
      cart_update_url: '{{ routes.cart_update_url }}',
      predictive_search_url: '{{ routes.predictive_search_url }}'
    };
  </script>


</body>
</html>
