<header class="bg-pink-50 relative shadow-header">
    <div class="max-w-page-width mx-auto py-2 md:px-8 px-4">
        <div class="flex items-center justify-between relative">
        
            <div class="flex-1 flex items-center  justify-start">
                <!-- Logo -->
                <div class="flex-shrink-0 flex items-center">
                    <a href="{{ routes.root_url }}">
                        {% if section.settings.logo != blank %}
                            {%- assign image_size = section.settings.logo_width | append: 'x' -%}
                            <img 
                            srcset="{{ section.settings.logo | img_url: image_size }} 1x, {{ section.settings.logo | img_url: image_size, scale: 2 }} 2x" 
                            src="{{ section.settings.logo | img_url: image_size }}" 
                            loading="lazy"  
                            width="{{ section.settings.logo.width }}"
                            height="{{ section.settings.logo.height }}"  
                            alt="{{ section.settings.logo.alt | default: shop.name | escape }}"
                            class="md:max-h-20 max-h-16 object-contain w-auto"
                            />
                        {% else %}
                            <span class="text-2xl font-bold">{{ shop.name }}</span>
                        {% endif %}
                    </a>
                </div>
                <!-- End Logo -->
            </div>
            <!-- Menu -->
            {% if section.settings.menu != blank %}
            <nav class="hidden md:block md:ml-6 transition-all ease-in-out duration-300">
                <ul class="flex list-none text-sm items-end " role="list">
                    {% for link in section.settings.menu.links %}
                        <li class="hover:text-primary p-4 relative group leading-none">
                            <!-- (link.links) Submenus -->
                            {% if link.links != blank %}
                            <a class=" relative p-4 uppercase group-hover:text-primary group-hover:after:content-[''] group-hover:after:border-b group-hover:after:border-primary group-hover:after:absolute group-hover:after:bottom-2 group-hover:after:block group-hover:after:border-colo group-hover:after:h-1px group-hover:after:z-10 group-hover:after:w-full" href="{{ link.url }}">{{ link.title | escape }}
                            <span class="inline-flex justify-center items-center w-14px"> <!-- render get from snippets folder -->
                            {% render 'icon-dropdown' %}</span>
                            </a>
                            <ul class=" bg-white py-3 absolute w-full invisible opacity-0 transform lg:translate-y-3 shadow-sub-menu group-hover:visible group-hover:opacity-100">
                            {% for childlink in link.links %}
                                <li class="hover:text-primary">
                                    <a class=" px-4 py-1" href="{{ childlink.url }}">{{ childlink.title | escape }}</a>
                                </li>
                            {% endfor %}
                            </ul>
                            <!-- No Submenus -->
                            {% else %}
                                <a class="uppercase" href="{{ link.url }}">{{ link.title | escape }}</a>
                            {% endif %}
                        </li>
                    {% endfor %}
                    {% comment %} Nav Links {% endcomment %}
                    <li class="px-2 py-4 relative flex items-end"> 
                        <button type="button" class="search-toggle whitespace-nowrap cursor-pointer hover:text-primary w-6">
                            {% render 'icon-search' size: 6 %}
                        </button>
                    </li>
                    {% if shop.customer_accounts_enabled %}
                    <li class="px-2 py-4 relative flex items-end">
                        <a class="hover:text-primary inline-flex justify-center items-center w-6" href="{% if customer %} {{ routes.account_url }} {% else %} {{ routes.account_login_url }} {% endif %}">
                            <span>
                                {% render 'icon-user' %}
                            </span>
                            </a>
                    </li>
                    {% endif %}
                    <li class="px-2 py-4 relative flex items-end">
                        <a href="{{ routes.cart_url }}" class="hover:text-primary relative">
                            {% render 'icon-cart' %}
                            <span id="cart-count-bubble" class="hidden">
                                Cart
                            </span>
                            {% if cart != empty %}
                                <div id="cart-count-bubble" class="absolute bg-black text-white text-xs w-4 h-4 rounded-full flex justify-center items-center text-tiny top-3 left-3">
                                {% if cart.item_count < 100 %}
                                    <span aria-hidden="true">{{ cart.item_count }}</span>
                                {% endif %}
                                </div>
                            {% endif %}
                        </a>
                    </li>
                </ul>
            </nav>
            {% endif %}
            <!-- End Mnu -->
            <!-- Nav -->

           {% comment %} Mobile menu, show/hide based on menu state.{% endcomment %}
            <div id="mobile-menu" class="md:hidden absolute inset-y-0 right-0 flex items-center">
                <button>
                    <div id="icon-burger-menu">
                        {% render 'icon-menu' %}
                    </div>
                    <div class="hidden" id="icon-menu-close">
                        {% render 'icon-close' %}
                    </div>
                </button>
            </div>

        </div>
    </div>

    <header-drawer>
        <div id="menu-drawer-overlay" class="after:hidden md:after:hidden after:content-[''] after:absolute after:bg-black after:opacity-50 after:top-full after:left-0 after:right-0 after:h-screen z-0"></div>
        <div id="menu-drawer" class="transition-all ease-in-out duration-300 -translate-x-full invisible md:invisible absolute left-0 bg-white z-3 top-full w-11/12  p-0 border border-gray-300 h-screen grid">
            {% if section.settings.menu != blank %}
                <div id="menu-drawer-navigation" class="py-8 text-lg">
                    <ul class="uppercase text-sm font-normal">
                        {% for link in section.settings.menu.links %}
                            <li class="border-b border-black pl-8 pr-6 py-4"><a class="hover:text-primary" href="{{ link.url }}">{{ link.title | escape }}</a></li>
                        {% endfor %}
                    </ul>
                </div>
                <div id="menu-drawer-utility-links" class="bg-slate-50">
                    <ul>
                        <li class="px-2 py-4 relative flex items-end "> 
                        <button type="button" class="search-toggle whitespace-nowrap cursor-pointer hover:text-primary w-full inline-flex text-base">
                            {% render 'icon-search' size: 5 %}
                           <span class="ml-3">Search</span> 
                        </button>
                    </li>
                    {% if shop.customer_accounts_enabled %}
                    <li class="px-2 py-4 relative flex items-end ">
                        <a class="whitespace-nowrap cursor-pointer hover:text-primary w-full inline-flex text-base" href="{% if customer %} {{ routes.account_url }} {% else %} {{ routes.account_login_url }} {% endif %}">                  
                            {% render 'icon-user' size: 5 %}
                            <span class="ml-3">Account</span>
                        </a>
                    </li>
                    {% endif %}
                    <li class="px-2 py-4 relative flex items-end ">
                        <a href="{{ routes.cart_url }}" class="whitespace-nowrap cursor-pointer hover:text-primary w-full inline-flex text-base">
                            {% render 'icon-cart' size: 5%}
                            <span class="ml-3">Cart</span>
                            <span id="cart-count-bubble" class="hidden">
                                Cart
                            </span>
                            {% if cart != empty %}
                                <div id="cart-count-bubble" class="absolute bg-black text-white text-xs w-4 h-4 rounded-full flex justify-center items-center text-tiny top-3 left-3">
                                {% if cart.item_count < 100 %}
                                    <span aria-hidden="true">{{ cart.item_count }}</span>
                                {% endif %}
                                </div>
                            {% endif %}
                        </a>
                    </li>
                    </ul>
                </div>
            {% endif %}
        </div>
    </header-drawer>

    {% comment %} Search Form {% endcomment %}
    <div id="search-modal" class="absolute top-0 left-0 right-0 bottom-0 z-10 flex justify-center items-center bg-white hidden">
        <div class="after:content-[''] after:absolute after:bg-black after:opacity-50 after:top-full after:left-0 after:right-0 after:h-screen"></div>
        <div id="search-modal-content" class="flex items-center justify-center w-full h-full leading-search-bar md:px-24 px-3 md:pr-12">
           <predictive-search class="flex-auto w-full max-w-7xl">
                <form action="{{ routes.search_url }}" method="get" class="relative">
                    <div class="relative w-full flex border-solid border-2 border-gray-700 focus-within:border-primary">
                        <input id="Search" type="search" name="q" placeholder="Search" class="flex-grow text-left p-6 bg-transparent h-11 focus:outline-none pr-14" value="{{ search.terms | escape }}"
                            {%- if settings.predictive_search_enabled -%}
                                role="combobox"
                                aria-expanded="false"
                                aria-owns="predictive-search-results-list"
                                aria-controls="predictive-search-results-list"
                                aria-haspopup="listbox"
                                aria-autocomplete="list"
                                autocorrect="off"
                                autocomplete="off"
                                autocapitalize="off"
                                spellcheck="false"
                              {%- endif -%}
                        >
                        <input type="hidden" name="type" value="product,page" />
                        <input type="hidden" name="options[unavailable_products]" value="hide" />
                        <input type="hidden" name="options[prefix]" value="last" />
                    
                        <button type="submit" class="w-16 flex justify-center items-center cursor-pointer absolute right-0 top-0 p-0 overflow-hidden border-0 h-full hover:text-primary">
                            {% render 'icon-search' %}
                        </button>
                    </div>
                    {% comment %} 
                    
                    Section Rendering API
                    https://shopify.dev/api/section-rendering
                    We will use the Section Rendering API to attach the Section
                    {% endcomment %}    
                    {%- if settings.predictive_search_enabled -%}
                        <div id="predictive-search" tabindex="-1" class="absolute bg-white w-full"></div>
                    {%- endif -%}
                </form>
            </predictive-search>
            <button id="close-search-modal" type="button" class="flex justify-center items-center p-0 h-16 w-16 bg-transparent" aria-label="Close">
                {% render 'icon-close' %}
            </button>
        </div>
    </div>

</header>

<script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "Organization",
      "name": {{ shop.name | json }},
      {% if section.settings.logo %}
        {% assign image_size = section.settings.logo.width | append: 'x' %}
        "logo": {{ section.settings.logo | img_url: image_size | prepend: "https:" | json }},
      {% endif %}
      "sameAs": [
        {{ settings.social_twitter_link | json }},
        {{ settings.social_facebook_link | json }},
        {{ settings.social_pinterest_link | json }},
        {{ settings.social_instagram_link | json }},
        {{ settings.social_tumblr_link | json }},
        {{ settings.social_snapchat_link | json }},
        {{ settings.social_youtube_link | json }},
        {{ settings.social_vimeo_link | json }}
      ],
      "url": {{ shop.url | append: page.url | json }}
    }
  </script>

  {%- if request.page_type == 'index' -%}
    {% assign potential_action_target = shop.url | append: routes.search_url | append: "?q={search_term_string}" %}
    <script type="application/ld+json">
      {
        "@context": "http://schema.org",
        "@type": "WebSite",
        "name": {{ shop.name | json }},
        "potentialAction": {
          "@type": "SearchAction",
          "target": {{ potential_action_target | json }},
          "query-input": "required name=search_term_string"
        },
        "url": {{ shop.url | append: page.url | json }}
      }
    </script>
  {%- endif -%}

{% schema %}
{
   "name": "Header",
  "settings": [
      {
         "type": "image_picker",
         "id": "logo",
         "label": "Insert your store logo here"
      },
      {
        "type": "range",
        "id": "logo_width",
        "min": 50,
        "max": 250,
        "step": 10,
        "default": 100,
        "unit": "x",
        "label": "Set Logo"
      },
      {
        "type": "link_list",
        "id": "menu",
        "default": "main-menu",
        "label": "Heading Navigation Menu"
      }
  ]
}
{% endschema %}